/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* line 12, ../../app/assets/stylesheets/home.css.scss */
body {
  background-color: #bbbbbb;
}

/* line 17, ../../app/assets/stylesheets/home.css.scss */
header hgroup {
  background-color: #e6e6fa;
  text-align: center;
}
/* line 21, ../../app/assets/stylesheets/home.css.scss */
header hgroup p {
  border-style: groove;
  border-color: #bbbbbb;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  padding-top: 0em;
}
/* line 30, ../../app/assets/stylesheets/home.css.scss */
header nav li {
  display: inline;
}
