<!--begin header -->
<div id="header">
	<span id="logo_image"><%= image_tag("z.png") %></span>
	<span id="logo">amith</span>    
</div>
<!--end header -->
<!--begin menu -->
<div id="menu">
	<div id="menubox">                  
   		<div class="menubutton"><a href="#">Home</a></div>                                          
        <div class="menubutton"><%= link_to "Blog", "http://www.crazylittlehacks.blogspot.com" %></div>
        <div class="menubutton"><img src="images/github_32.png" alt="" /><%= link_to "Github", "http://github.com/zamith", :class => "has_logo" %></div>                       
        <div class="menubutton"><a href="#">Work</a></div>                       
	</div>    
</div>
<!--end menu -->
<!--begin content -->
<div id="content">
	<div id="photo">The ultimate website about me.</div>
<h1>HEADING TAG 1</h1>
	<div class="contentbox">
    	<div class="icon"><img src="images/welcome.png" alt="" /></div>
		<div class="textsmall">
<h3>HEADING TAG 3</h3>
        <p>This template is released  under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License.</a> You may copy, distribute,  and customize this template for business or personal use as long as the link to my website remains in the footer. If you need a full site template, a unique site designed, or help customizing a template, please visit <a href="http://www.clintonward.com">ClintonWard.com</a>. This template <a href="http://validator.w3.org/check/referer">Validates XHTML </a>and <a href="http://jigsaw.w3.org/css-validator/">Validates CSS</a>. The icons are taken from the <a href="http://iconeden.com/icon/milky-a-free-vector-iconset.html">Milky</a> set.</p>
        	<div class="more"><a href="#">read more</a></div>        
	  </div>        
	</div>
	<div class="contentbox">
    	<div class="icon"><img src="images/person.png" alt="" /></div>
		<div class="textsmall">
<h3>HEADING TAG 3</h3>
		<p>Quisque augue tortor, tristique ac, scelerisque eget, aliquam id, sem. Aenean lorem. Fusce velit nibh, dapibus quis, laoreet nec, porta a, dui. Nullam ac urna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce congue, turpis ut commodo mattis, pede erat fringilla tellus, pulvinar suscipit odio lorem sed pede.</p>
        	<div class="more"><a href="#">read more</a></div>        
		</div>        
	</div>
<h2>HEADING TAG 2</h2>    
    <div class="text">        
		<p>Vestibulum augue quam, interdum id, congue semper, convallis non, velit. Quisque augue tortor, tristique ac, scelerisque eget, aliquam id, sem. Aenean lorem. Fusce velit nibh, dapibus quis, laoreet nec, porta a, dui. Nullam ac urna. Nunc scelerisque venenatis urna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce congue, turpis ut commodo mattis, pede erat fringilla tellus, pulvinar suscipit odio lorem sed pede.</p>
	</div>
</div>
<!--end content --> 
<div id="footer">
	Copyright &copy; 2009 Luís Zamith Ferreira
</div>