<header>
  <hgroup>	
    <h1>Zamith</h1>
    <p>The ultimate website about me!</p>
  </hgroup>

  <nav>
	<ul>
	  <li><a href="#">Home<a></li>
	  <li><a href="#">Blog<a></li>
	  <li><a href="#">Work<a></li>	
	</ul>	
  </nav>	
</header>
