<header>
  <hgroup>	
    <h1 class="title">Zamith</h1>
    <span class="desc">The ultimate website about me!</span>
  </hgroup>
  <div class="lower">Lower</div>

  <div class="separator">Separator</div>

  <nav>
	<ul>
	  <li><%= link_to "Home", "#" %></li>
	  <li><%= link_to "Blog", "http://www.crazylittlehacks.blogspot.com" %></li>
	</ul>	
  </nav>	
</header>

<section class="content">
	
</section>	
