@import "compass/css3";

body {
	padding: 0;
	font-family:"Times New Roman", Times, serif;
	font-size: 16px;
	color: #2E3033;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #FFFFFF;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
}
#menu
{
	width: 800px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	height: 50px;
	padding: 0px;
}
.menubutton
{
	text-decoration: none;
	height: 36px;
	width: 198px;
	float: left;
	padding: 0px;
	background-image: url(../images/button2.png);
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	@include border-radius(6px);
	img {
	  height: 20px;
	  position: relative;
	  left: -15px;	
	  top: 4px;
	}
}
.menubutton  a
{
	text-decoration:none;
	color: #FFFFFF;
	width: inherit;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	
	&.has_logo {
	  position: relative;
	  left: -10px;
	}	
	
	&:hover {
	  color:#8BBB4F;
	  text-decoration: none;
	  float: left;
	  height: 36px;
	  width: inherit;
	}
}

.menubutton  a:visited
{
	color:#FFFFFF;
	text-decoration: none;
	float: left;
	height: 36px;
	width: inherit;
}
.menubutton  a:hover
{
	color:#8BBB4F;
	text-decoration: none;
	float: left;
	height: 36px;
	width: inherit;
}
#header
{
	width:800px;
	height:100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
}
#logo
{
	text-align:left;
	font-size:36px;
	color:#FFFFFF;
	font-family:"Times New Roman", Times, serif;
	width: 10px;
	height: 100px;
	line-height: 100px;
	padding-left: 75px;
	background-image: url(../images/z.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-transform: uppercase;
	@include border-radius(20px);
}
#photo {
	height: 150px;
	width: 800px;
	text-align: center;
	background-image: url(../images/photo2.png);
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	color: #2E3033;
	line-height: 150px;
	@include border-radius(5px);
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


#content
{
	margin-top:0px;
	width:800px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.contentbox {
	width: 800px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}


h1
{
	color:#51790E;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	line-height: 30px;
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
h2 {
	font-size: 22px;
	padding: 0px;
	line-height: 22px;
	color: #51790E;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #51790E;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
h3 {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	line-height: 16px;
}

.text
{
	line-height:22px;
	width: 800px;
}
.textsmall
{
	line-height:22px;
	width: 700px;
	margin-left: 100px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.icon {
	height: 64px;
	width: 64px;
	float: left;
}
.more {
	color: #51790E;
	width: 85px;
	background-image: url(../images/more.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 20px;
}
.more a {
	color: #51790E;
	text-decoration: underline;
}


#footer {
	text-align:center;
	font-size:11px;
	font-family:"Times New Roman", Times, serif;
	color:#FFFFFF;
	width: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	line-height: 11px;
	height: 70px;
	background-image: url(../images/footerbg.png);
	background-repeat: repeat-x;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: both;
}

#footer a
{
	color:#FFFFFF;
	text-decoration:none;
}
a
{
	color:#2E3033;
	text-decoration:underline;
}
a:visited
{
	color:#2E3033;
	text-decoration: underline;

}

a:hover
{
	color: #2E3033;
	text-decoration: none;
}
p {
	text-align: left;
	margin: 0px;
	padding: 0px;
}
